@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.pop-up-section {
  display: none;
}

.pop-up-container {
  font-family: "Poppins", sans-serif;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pop-up-cancel-button {
  margin-top: 1rem;
  margin-left: 85%;
  margin-right: 1rem;
  width: auto;
  height: 30px;
}

.pop-up-card {
  margin-right: 1rem;
  margin-left: 1rem;
}

.loto1 {
  width: 375px;
  margin: 0;
  padding: 0;
}

.pop-up-container .loto1 {
  width: 100%;
  margin-right: 1rem;
}

.pop-up-card h3 {
  font-size: 1.5rem;
}

nav ul {
  align-self: center;
}

.pop-up-card ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding-top: 2rem;
  text-align: center;
}

.works li {
  font-size: 3.3vw;
  margin: 0;
  padding: 0;
}

.pop-up-card ul li {
  border: 1px #000 solid;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.pop-up-card p {
  text-align: left;
}

.pop-up-card .see-live,
.pop-up-card .see-source {
  display: block;
  background-color: #fff;
  font-size: 1.2rem;
  color: #1a2236;
  font-weight: 500;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  text-decoration: none;
  border: 1px solid #1a2236;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.see-live img,
.see-source img {
  padding-left: 15px;
  padding-top: 10px;
}

.git--white {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: -42px;
}

.menu {
  margin-top: 1rem;
  margin-bottom: 30px;
  margin-right: 20px;
}

.intro {
  margin-top: 30px;
  margin-left: 16px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-bottom: 30px;
}

.para {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  padding-right: 15px;
  text-align: left;
  margin-bottom: 25px;
}

footer a {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  padding-top: 30px;
}

nav ul a {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}

.intro a {
  background-color: #1a2236;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 13px 90px;
  text-decoration: none;
}

.works a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  text-decoration: none;
  border: 0.45px solid white;
  margin-left: 16px;
}

.loto2,
.loto3,
.loto4,
.loto5,
.loto6 {
  width: 375px;
  margin: 0;
  padding: 0;
}

.loto:first-child {
  background-color: aliceblue;
}

.intro a:hover {
  background-color: #001f6d;
}

.intro a:active {
  background-color: #0048fd;
}

.rectangle {
  width: 375px;
  margin-top: 50px;
}

.project h2 {
  color: #1a2236;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  padding-left: 16px;
}

.works {
  display: grid;
  border: none;
}

.lang p,
.framework p,
.skills p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  padding-left: 50px;
  padding-top: 40px;
}

section .text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #1a2236;
  padding-left: 35px;
  padding-right: 20px;
  margin-top: -20px;
  text-align: left;
}

.works .card1 p,
.works .card2 p,
.works .card3 p,
.works .card4 p,
.works .card5 p,
.works .card6 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  line-height: 80%;
  padding: 7vw 0 0 5vw;
  margin: -1.2vw 0 0 0;
}

.works ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.works .card1 li,
.works .card2 li,
.works .card3 li,
.works .card4 li,
.works .card5 li,
.works .card6 li {
  background-color: #98dede;
  margin: 0 0 20px 20px;
  padding: 5px 10px;
  color: #1a2236;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
}

.go-to-project img {
  padding-left: 10px;
}

.works a:hover {
  background-color: #001f6d;
}

.works a:active {
  background-color: #0048fd;
}

.about-page {
  padding-left: 16px;
  margin-left: 6px;
}

.about-page h2 {
  color: #1a2236;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 0;
}

.about-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #1a2236;
  padding-right: 10px;
  padding-bottom: 30px;
}

.cv-link {
  background-color: #1a2236;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 13px 100px;
  text-decoration: none;
}

.cv-link img {
  padding-left: 15px;
  padding-top: 10px;
}

.cv-link:hover {
  background-color: #001f6d;
}

.cv-link:active {
  background-color: #0048fd;
}

.lang {
  margin-top: 60px;
  width: 330px;
  height: 289px;
  background-color: #1c528a;
}

.framework,
.skills {
  width: 330px;
  height: 289px;
  margin-top: 20px;
}

.framework {
  background-color: #e2505c;
}

.skills {
  background-color: #febf52;
}

.lang ul,
.framework ul,
.skills ul {
  padding-left: 70px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

span {
  margin-left: -9px;
}

.lan-img {
  display: block;
  padding-left: 69%;
  margin-top: -29px;
}

.fra-img {
  display: block;
  padding-left: 72%;
  margin-top: -49px;
}

.ski-img {
  display: block;
  padding-left: 69%;
  margin-top: -55px;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: #f9f9fa;
}

section .text h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  padding-left: 35px;
}

section form {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

section form input {
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 299px;
  height: 52px;
  margin-left: 35px;
  margin-top: 10px;
}

form textarea {
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 299px;
  height: 112px;
  margin-left: 35px;
  margin-top: 10px;
}

form button {
  margin-top: 20px;
  margin-left: 35px;
  display: block;
  background-color: #1a2236;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 10px 2px;
  width: 303px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #fff;
  color: #001f6d;
  border: 1px solid grey;
}

form button:active {
  background-color: #fff;
  border: 2px solid #001f6d;
  color: #001f6d;
}

#show-error {
  display: none;
  border: 1px solid #001f6d;
  background-color: #fff;
  color: red;
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
  padding-left: 16px;
  padding-top: 20px;
  margin-top: 80px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: 10px;
  padding-bottom: 40px;
}

.fcv {
  display: inline-block;
  margin-bottom: -6px;
}

nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
}

.mob-men-shape {
  width: 150px;
  height: 100px;
}

.cancel-button {
  width: 30px;
  height: 30px;
  align-self: center;
  padding-right: 2rem;
}

.mob-men-dot1 {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 3rem;
  width: 60px;
  height: 60px;
}

.mob-men-dot2 {
  width: 60px;
  height: 60px;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.mob-men-thur {
  width: 370px;
  height: 200px;
}

.mob-shape-cancel {
  display: flex;
  justify-content: space-between;
}

.dot,
.geo,
.loto3b,
.img1,
.img2,
.lapy,
.loto3c,
.img3,
.dati,
.abt-shape,
.fot-img1,
.fot-img2,
.shapy,
.shape3,
.shape4,
.shape5,
.about-shape,
.txt {
  display: none;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  background-color: #1a2236;
  width: 375px;
  height: 170px;
  margin: 0;
  padding: 0;
}

label {
  display: none;
}

/* dESKTOP Version starts from here */

@media only screen and (min-width: 768px) {
  header div,
  header img,
  .card4,
  .card2,
  .card3,
  .card5,
  .cont-img .shape,
  .cont-img .logo {
    display: none;
  }

  .dot,
  .letsee,
  .shapy,
  .shape3,
  .shape4,
  .shape5,
  .about-shape {
    display: block;
  }

  .img1,
  .img2,
  .lapy,
  .loto3c,
  .img3,
  .abt-shape,
  .dati,
  .fot-img1,
  .loto3b,
  .fot-img2 {
    display: inline;
  }

  nav {
    display: block;
    position: relative;
    width: 100%;
    height: 6.9vw;
    margin-bottom: 4vw;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  nav li {
    margin-top: 15px;
    margin-left: 6.5vw;
  }

  nav a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #1a2236;
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr 12.5vw 1fr 1fr 1fr;
    grid-template-rows: 53vw 12.5vw;
    margin-top: 0;
    padding-top: 0;
  }

  .intro div {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-top: 7vw;
    padding-left: 6vw;
    padding-right: 4vw;
  }

  .intro .dot {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
    align-self: flex-end;
  }

  .intro h1 {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 7.6vw;
    line-height: 100%;
    color: #1a2236;
    padding-bottom: 1vw;
  }

  .para {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 100%;
    letter-spacing: -0.01em;
    padding-bottom: 3.6vw;
    color: #1a2236;
  }

  .info > a {
    font-size: 1.25vw;
    width: 17.6vw;
    padding: 1.38vw 1.73vw;
  }

  .geo {
    display: block;
    grid-column: 4 / 7;
    grid-row: 1 / 3;
    width: 100%;
  }

  .rectangle {
    display: none;
  }

  .works {
    display: grid;
    grid-template-columns: 11.1vw 11.1vw 11.1vw 11.1vw 11.1vw 11.1vw 11.1vw 11.1vw 11.1vw;
    grid-template-rows: 11.1vw 11.1vw 11.1vw 5.55vw 11.1vw 5.55vw 5.55vw 11.1vw 11.1vw 8vw 11.1vw 11.1vw;
    margin-top: 14.6vw;
  }

  .works h2 {
    grid-column: 1 /3;
    grid-row: 1 / 4;
    transform: rotate(-90deg);
    align-self: center;
    font-size: 7.64vw;
    padding: 0;
    margin: 0;
  }

  .works .dot {
    grid-column: 3 /4;
    grid-row: 1/2;
    width: 11vw;
  }

  .works .grid1 {
    grid-column: 4/10;
    grid-row: 1/5;
  }

  .works .card1 {
    position: relative;
    bottom: 31vw;
    height: 24.5vw;
    width: 62.2vw;
    padding: 4.2vw 0 2.1vw 4.2vw;
  }

  .works .card1 p {
    font-size: 4.2vw;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }

  .pop-up-container {
    background-color: #1a2236;
    z-index: 100;
  }

  .bord {
    background-color: #fff;
    margin: 2rem;
  }

  .pop-up-cancel-button {
    margin-left: 92%;
  }

  .live-source {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .pop-up-card .see-live {
    display: block;
    background-color: #fff;
    font-size: 1.2rem;
    color: #1a2236;
    font-weight: 500;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    text-decoration: none;
    border: 1px solid #1a2236;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .pop-up-card .see-source {
    display: block;
    background-color: #1a2236;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    text-decoration: none;
    border: 1px solid #1a2236;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .git-color {
    display: none;
  }

  .git-white {
    display: inline-block;
  }

  .fot1 a {
    padding: 0;
    margin: 0;
  }

  .social a {
    padding: 0;
    margin: 0 0.7vw;
  }

  .works .card1 a {
    margin: 0;
    padding: 0.8vw 1.2vw;
    transition: all;
    transition-duration: 2s;
  }

  .works ul {
    justify-content: flex-start;
    margin: 2.4vw 0 4.2vw 0;
    padding: 0;
  }

  .works .card1 li {
    font-size: 1.38vw;
    margin: 0 1.2vw 0 0;
    padding: 0.8vw 1.2vw;
  }

  .works .loto1 {
    width: 66.6vw;
    height: 38.3vw;
  }

  .works .grid2 {
    grid-column: 1/4;
    grid-row: 5/8;
    height: 18.75vw;
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }

  .works .shapy {
    grid-column: 4/6;
    grid-row: 5/8;
    height: 22.2vw;
  }

  .works .loto2 {
    height: 18.75vw;
    width: 33.3vw;
  }

  .works .grid6 {
    grid-column: 7/9;
    grid-row: 5/7;
  }

  .works .card6 {
    position: relative;
    bottom: 15vw;
    height: 15vw;
    width: 29vw;
    padding: 4.2vw 0 2.1vw 4.2vw;
  }

  .works .card6 p {
    font-size: 2vw;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }

  .works .card6 a {
    margin: 0;
    padding: 0.8vw 1.2vw;
  }

  .works .card6 li {
    font-size: 1.05vw;
    margin: 0 1.2vw 0 0;
    padding: 0.8vw 1.2vw;
  }

  .works .loto6 {
    width: 33.3vw;
    height: 16.8vw;
  }

  .works .grid5 {
    grid-column: 7/9;
    grid-row: 7/9;
  }

  .works .loto5 {
    width: 33.3vw;
    height: 16.8vw;
  }

  .works .grid3 {
    grid-column: 1/6;
    grid-row: 8/11;
  }

  .works .loto3 {
    width: 55.5vw;
    height: 30.2vw;
  }

  .works .shape3 {
    grid-column: 6/10;
    grid-row: 9/11;
    width: 44.4vw;
    height: 19.2vw;
  }

  .works .shape5-4 {
    display: flex;
    justify-content: space-between;
    grid-column: 1/6;
    grid-row: 11/12;
  }

  .works .shape5 {
    height: 8.6vw;
  }

  .works .shape4 {
    width: 6vw;
    height: 6vw;
  }

  .works .grid4 {
    grid-column: 6/9;
    grid-row: 11/13;
  }

  .works .loto4 {
    width: 33.3vw;
    height: 18.75vw;
  }

  .about-page {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 15vw 11vw 0 11vw;
  }

  .about-cards {
    display: grid;
    grid-template-columns: 20vw 4.6vw 15.4vw;
    grid-template-rows: 20vw 5.2vw 14.8vw;
  }

  .about-cards .lang {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0;
  }

  .about-cards .framework {
    grid-column: 2/4;
    grid-row: 1/2;
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0;
  }

  .about-cards .skills {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0;
  }

  .about-cards .about-shape {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 15.4vw;
  }

  .about-cards .framework p,
  .about-cards .lang p,
  .about-cards .skills p {
    margin: 2.4vw 0 0 2.4vw;
    padding: 0;
    font-size: 1.4vw;
  }

  .about-cards .framework ul,
  .about-cards .lang ul,
  .about-cards .skills ul {
    margin: 0 0 0 3.4vw;
    padding: 0;
  }

  .about-cards .framework ul li,
  .about-cards .lang ul li,
  .about-cards .skills ul li {
    font-size: 1.2vw;
    line-height: 2vw;
  }

  .about-cards .framework,
  .about-cards .lang,
  .about-cards .skills {
    margin: 0;
    padding: 0;
  }

  .about-cards .lan-img,
  .about-cards .fra-img,
  .about-cards .ski-img {
    position: relative;
    bottom: 2vw;
    left: 13vw;
    width: 7.1vw;
    height: 7.1vw;
    padding: 0;
    margin: 0;
  }

  .about-cards .fra-img {
    position: relative;
    bottom: 3.5vw;
    left: 13vw;
  }

  .about-cards .ski-img {
    position: relative;
    bottom: 3.5vw;
    left: 13vw;
  }

  .about-cards .lan-img {
    position: relative;
    bottom: 1.5vw;
    left: 13vw;
  }

  .about-page .about-text {
    margin-left: 6.7vw;
    width: 31vw;
  }

  .about-page .about-text h2 {
    margin-top: 0;
  }

  .about-page .about-text p {
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 0;
    margin-bottom: 2.9vw;
  }

  .about-page .about-text a {
    width: 17.6vw;
    font-size: 1.25vw;
    padding: 1.5vw 3.5vw;
    margin: 0;
  }

  .social a img {
    width: 1.6vw;
    height: 1.6vw;
  }

  .about-page .about-text img {
    width: 1.67vw;
    height: 1.67vw;
  }

  .contact-footer {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-columns: 25vw 25vw 25vw;
  }

  .contact-footer .fot-img1 {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 24.3vw;
    width: 18.3vw;
  }

  .contact-footer .text-form {
    grid-column: 2/4;
    grid-row: 1/4;
    width: 45vw;
    margin: 0 0 9.3vw 0;
  }

  .contact-footer .fot-img2 {
    grid-column: 4/5;
    grid-row: 3/4;
    height: 24.3vw;
    width: 24.3vw;
  }

  .contact-footer .text h2 {
    font-size: 7.64vw;
    margin: 11.6vw 0 2.7vw 0;
    padding: 0;
    text-align: left;
  }

  .contact-footer .text p {
    font-size: 1.2vw;
    line-height: 1.8vw;
    width: 45vw;
    margin: 0 0 4.2vw 0;
    text-align: left;
    padding: 0;
  }

  .form-input {
    display: flex;
    justify-content: space-between;
    width: 45vw;
    margin: 0 0 1.38vw 0;
    padding: 0;
  }

  .contact-footer form input {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 24px;
    color: #1a2236;
    width: 21vw;
    margin: 0;
    padding: 0 0 0 1vw;
  }

  .contact-footer form textarea {
    width: 45vw;
    height: 9.7vw;
    align-self: center;
    margin: 0 0 2.7vw 0;
    padding: 0 0 0 1vw;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 24px;
    color: #1a2236;
  }

  .contact-footer form button {
    width: 17.6vw;
    font-size: 1.3vw;
    padding: 1.45vw 1.73vw;
    margin: 0;
    align-self: center;
  }

  .contact-footer form #name {
    margin-right: 2vw;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 3.3vw 11.1vw;
    align-content: center;
  }

  .social {
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-content: center;
  }

  .form-input .input-name,
  .form-input .input-email {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 18px;
    color: #7d7c84;
  }

  .txt {
    display: inline;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 18px;
    color: #7d7c84;
  }

  label {
    display: inline;
  }
}
